body {
    background-color: #f8f9fa;
  }
  h2 {
    color: #003B6D; /* Midnight Blue */
  }
  .accordion-button {
    color: #003B6D; /* Midnight Blue */
    background-color: #6699CC; /* Blue Sky */
  }
  .accordion-body {
    color: #676767; /* Dim gray */
  }
  .footer-text {
    color: #BDBDBD; /* Silver */
  }

  .image-container {
    display: inline-block; /* Make the container shrink to fit the image */
    text-align: center; /* Center the image and credit */
  }

  .image-credit {
    background-color: #BDBDBD; /* Silver */
    color: #676767; /* Dim gray */
    font-size: 0.8em;
    text-align: left;
    padding: 5px; /* Add some padding */
    margin: 0;
    width: 100%; /* Make it the same width as the image */
    box-sizing: border-box; /* Include padding in the width */
  }

  main {
    margin-top: 1px;
  }

  .mt-4 {
    margin-top: 1rem!important;
  }
  
  p {
    text-align: left;
  }